
.fabric/
/assets/
/astralsorcery_persistent/
/backup/
/bin/
/.idea/
/webcache/
/webcache2/
/XaeroWaypoints/
/XaeroWaypoints_BACKUP032021/modded fabric client/
/XaeroWorldMap/
/saves/
/libraries/
/mods/trinketsBroken/

mods/add/
